@import './App';
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  margin-bottom: 35px;

  @media all and (min-width: 768px) {
    margin-left: 100px;
  }

  &__title {
    font-size: 24px;
  }
}
