@import './App';
.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  &__dark {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background-color: black;
    color: white;
  }
  &__light {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    color: black;
  }
}
